[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=SpriteSheetExporter
X-Python-2-Compatible=false
X-Krita-Manual=SpriteSheetExporter.html
Name=SpriteSheet Exporter
Comment=Exports SpriteSheets, groups horizontally by top level layers.